# Final Project: Housing Dataset

### <a id='name'>Pepe Bonet Giner</a>

### Table of contents:
1. [**Load Data**](#load_data)
2. [**Initial Exploration**](#init_expl)
3. [**Data Cleaning**](#Data_cleaning)
    1. Remove irrelevant data
    2. Deduplicate your data
    3. Fix structural errors
    4. Deal with missing data
    5. Deal with or Filter out data outliers
    6. Validate your data
4. [**EDA**](#EDA)
    1. Categorical EDA
    2. Numerical EDA 
        1. Univariate Analysis
        2. Bivariate & Multivariate Analysis
5. [**Feature Engineering**](#feat_eng)
6. [**Data Analysis Results**](#data_results)
7. [**Data Preparation**](#data_prep)
8. [**Predictive Model**](#Pred_model)

In [2]:
# Load Packages that I will use
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## <a id='load_data'>1. Load Data</a>

[Go up](#name)

In [15]:
df = pd.read_csv('../../datasets/final_project/Airbnb_NYC_2019.csv')

In [16]:
df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365

In [17]:
df = pd.read_csv('../../datasets/final_project/Cuisine_rating.csv')

In [18]:
df.head(1)

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No

In [19]:
df = pd.read_csv('../../datasets/final_project/hotel_bookings.csv')

In [20]:
df.head(1)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01

In [21]:
df = pd.read_csv('../../datasets/final_project/winequality-red.csv')

In [22]:
df.head(1)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [29]:
df = pd.read_csv('../../datasets/final_project/Bank_marketing_response/bank_marketing_response.tsv', sep='\t')

In [30]:
df.head(1)

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no

In [31]:
df = pd.read_csv('../../datasets/final_project/mobile_price/mobile_price.csv')

In [32]:
df.head(1)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1

## <a id='init_expl'>2. Initial Exploration</a>

[Go up](#name)

## <a id='Data_cleaning'>3. Data Cleaning</a>

[Go up](#name)

## <a id='EDA'>4. EDA</a>

[Go up](#name)

## <a id='feat_eng'>5. Feature Engineering</a>

[Go up](#name)

## <a id='data_results'>6. Data Analysis Results</a>

[Go up](#name)

## <a id='data_prep'>7. Data Preparation</a>

[Go up](#name)

## <a id='Pred_model'>8. Predictive Model</a>

[Go up](#name)