# Python Course Class 1

### Variables

In [41]:
a = 10

In [42]:
type(a)

int

In [43]:
a = 20

In [44]:
a

20

In [45]:
z = 1.2

In [46]:
type(z)

float

In [47]:
type(False)

bool

In [48]:
this_is_true = True

### Operations

In [49]:
a = 20

In [50]:
b = 30

In [51]:
c = a + b

In [52]:
c

50

In [53]:
d = b / a * c

In [54]:
d

75.0

In [55]:
my_list = [0, 1, 2, 3, 4]
my_list

[0, 1, 2, 3, 4]

In [56]:
my_list.append(5)

In [57]:
my_list

[0, 1, 2, 3, 4, 5]

In [58]:
my_list[1]

1

In [63]:
dictionary = {'Defense': ['Carvajal'], 'midfield': 'Xavi'}

In [64]:
dictionary

{'Defense': ['Carvajal'], 'midfield': 'Xavi'}

In [65]:
dictionary['Defense'].append('Messi')

In [66]:
dictionary

{'Defense': ['Carvajal', 'Messi'], 'midfield': 'Xavi'}

In [67]:
dictionary.update({'goalkeeper': 'Ter Stegen'})

In [68]:
dictionary

{'Defense': ['Carvajal', 'Messi'],
 'midfield': 'Xavi',
 'goalkeeper': 'Ter Stegen'}

In [71]:
dictionary.keys()

dict_keys(['Defense', 'midfield', 'goalkeeper'])

In [72]:
my_list

[0, 1, 2, 3, 4, 5]

In [73]:
len(my_list)

6

In [75]:
if len(my_list) > 3:
    print('yes')
else:
    print('no')

yes

In [76]:
my_list = [0, 1, 2, 3]

In [81]:
new_list = []
for el in my_list:
    if el > 1:
        new_list.append(el - 2)

In [82]:
new_list

[0, 1]

In [88]:
def sum_two_numbers(number1, number2):
    #Body 
    the_sum = number1 + number2
    #return 
    return the_sum

In [92]:
save_number = sum_two_numbers(2, 3)

In [97]:
def sums_five_to_list(my_list):
    new_list = []
    for el in my_list: 
        new_list.append(el + 5)
    return new_list

In [98]:
my_list

[0, 1, 2, 3]

In [99]:
saved_new_list = sums_five_to_list(my_list)
saved_new_list

[5, 6, 7, 8]

In [106]:
def exercise_n(number1, number2):
    #Body 
    if number1 > 3:
        print('sum')
        result = number1 + number2
    elif number1 < 3: 
        print('subtraction')
        result = number1 - number2
    else: 
        print('Multiplication')
        result = number1 * number2
        
    #return 
    return result

In [110]:
result_exercise = exercise_n(2, 3)
result_exercise

subtraction

-1

In [100]:
def square_number(number):
    return number**2

In [103]:
number_square = square_number(10)
number_square

100

## Pandas

### Police Dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('police_deaths_USA_v6.csv')

In [4]:
df.head(10)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...
2,Deputy Sheriff,Isaac Smith,NaN,1792-05-17,Thursday,Gunfire,"Westchester County Sheriff's Department, New York",New York,NaN,NaN,Handgun,Executed in 1793,Deputy Sheriff Isaac Smith was shot and killed...
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ..."
4,Deputy Sheriff,Robert Berwick,NaN,1797-06-29,Thursday,Gunfire,"New York County Sheriff's Office, New York",New York,NaN,NaN,Handgun,Executed in 1797,Deputy Sheriff Robert Berwick was shot and kil...
5,Sheriff,Robert Maxwell,45.0,1797-11-12,Sunday,Gunfire,"Washington District Sheriff's Office, South Ca...",South Carolina,NaN,NaN,Gun; Unknown type,Acquitted,Sheriff Robert Maxwell was shot and killed aft...
6,Superintendent,Hilary Baker,52.0,1798-09-25,Tuesday,Duty related illness,"Philadelphia Police Department, Pennsylvania",Pennsylvania,"1 year, 4 months",SUPERINTEN,NaN,NaN,Superindentent Hilary Baker died as a result o...
7,High Sheriff,John Caldwell Cook,74.0,1804-10-16,Tuesday,Gunfire,"Mecklenburg County Sheriff's Office, North Car...",North Carolina,10 months,NaN,Gun; Unknown type,NaN,High Sheriff John Cook was shot in the head an...
8,Watchman,Christian Luswanger,NaN,1806-12-25,Thursday,Stabbed,"New York City Night Watch, New York",New York,NaN,NaN,Edged weapon; Knife,NaN,Watchman Luswanger was stabbed to death while ...
9,Deputy Sheriff,John A. Gooch,NaN,1807-03-07,Saturday,Gunfire,"Livingston County Sheriff's Department, Kentucky",Kentucky,2 years,NaN,Handgun,NaN,Deputy Sheriff John Gooch was shot and killed ...

In [5]:
df.tail()

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary
25618,Police Officer,Donald Sahota,52.0,2022-01-29,Saturday,Gunfire (Inadvertent),"Vancouver Police Department, Washington",Washington,"27 years, 6 months",1531,Handgun,Arrested,Police Officer Donald Sahota was inadvertently...
25619,Deputy Sheriff,Ned P. Byrd,48.0,2022-08-11,Thursday,Gunfire,"Wake County Sheriff's Office, North Carolina",North Carolina,13 years,397,Gun; Unknown type,In custody,Deputy Sheriff Ned Byrd was shot and killed wh...
25620,K9 Officer,Ryan Patrick Copeland,33.0,2015-11-23,Monday,Automobile crash,"McFarland Police Department, Wisconsin",Wisconsin,3 years,K8435,NaN,NaN,K9 Officer Ryan Copeland was killed in a vehic...
25621,K9 Officer,Timothy James Brackeen,38.0,2016-09-12,Monday,Gunfire,"Shelby Police Department, North Carolina",North Carolina,12 years,763,Gun; Unknown type,Sentenced to life,Police Officer Tim Brackeen succumbed to gunsh...
25622,K9 Officer,Jordan Harris Sheldon,32.0,2019-05-04,Saturday,Gunfire,"Mooresville Police Department, North Carolina",North Carolina,6 years,NaN,Gun; Unknown type,Committed suicide,Police Officer Jordan Sheldon was shot and kil...

In [6]:
df.columns

Index(['Rank', 'Name', 'Age', 'End_Of_Watch', 'Day_Of_Week', 'Cause',
       'Department', 'State', 'Tour', 'Badge', 'Weapon', 'Offender',
       'Summary'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25623 entries, 0 to 25622
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          25623 non-null  object
 1   Name          25623 non-null  object
 2   Age           22946 non-null  float64
 3   End_Of_Watch  25623 non-null  object
 4   Day_Of_Week   25623 non-null  object
 5   Cause         25622 non-null  object
 6   Department    25623 non-null  object
 7   State         25623 non-null  object
 8   Tour          17417 non-null  object
 9   Badge         7477 non-null   object
 10  Weapon        16263 non-null  object
 11  Offender      13803 non-null  object
 12  Summary       25623 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.5+ MB

In [8]:
df.isna().sum()

Rank                0
Name                0
Age              2677
End_Of_Watch        0
Day_Of_Week         0
Cause               1
Department          0
State               0
Tour             8206
Badge           18146
Weapon           9360
Offender        11820
Summary             0
dtype: int64

In [9]:
df.describe()

                Age
count  22946.000000
mean      40.289419
std       15.799729
min       17.000000
25%       31.000000
50%       39.000000
75%       48.000000
max     1661.000000

In [10]:
df['Age'].min()

17.0

In [11]:
df['Age'].max()

1661.0

In [12]:
df['Rank'].value_counts()

Rank
Patrolman                     3841
Police Officer                3514
Deputy Sheriff                3215
Officer                       1699
Sergeant                      1420
                              ...
Narcotic Agent II                1
Jail Officer                     1
Acting Marshal                   1
Deputy II                        1
Assistant Principal Keeper       1
Name: count, Length: 618, dtype: int64

In [13]:
df.columns

Index(['Rank', 'Name', 'Age', 'End_Of_Watch', 'Day_Of_Week', 'Cause',
       'Department', 'State', 'Tour', 'Badge', 'Weapon', 'Offender',
       'Summary'],
      dtype='object')

In [14]:
df['Weapon'].unique()

array(['Edged weapon; Knife', 'Gun; Unknown type', 'Handgun',
       'Handgun; Pistol', nan, 'Rifle', 'Blunt object; Lumber',
       'Edged weapon; Axe', 'Blunt object', 'Person',
       'Blunt object; Rock', 'Edged weapon; Dirk',
       'Edged weapon; Bow and arrow', 'Unknown weapon',
       'Blunt object; Hammer', 'Shotgun', 'Edged weapon',
       'Blunt object; Baton', 'Blunt object; Pipe', "Officer's handgun",
       'Rifle; Musket', 'Blunt object; Brick',
       'Edged weapon; Spring dirk', 'Handgun; Revolver',
       "Officer's nightstick", 'Animal', 'Blunt object; Iron pipe',
       "Officer's knife", 'Edged weapon; Glass shard',
       'Person; Alcohol involved', 'Edged weapon; Sword',
       'Handgun; .45 caliber', 'Rifle; Winchester',
       'Handgun; .36 caliber', 'Edged weapon; Hatchet',
       'Handgun; .44 caliber', 'Handgun; .32 caliber', 'Arson',
       'Blunt object; Shovel', 'Blunt object; Chair',
       'Blunt object; Wrench', "Officer's shotgun",
       'Edged weapon; Pick ax', 'Rifle; .45 caliber',
       'Handgun; .38 caliber', 'Shotgun; 12 gauge', 'Rifle; .44 caliber',
       'Explosives; Bomb', 'Edged weapon; Razor',
       'Blunt object; Firewood', 'Rifle; .38 caliber',
       'Blunt object; Bat', 'Handgun; .41 caliber',
       'Edged weapon; Dagger', 'Poison', 'Explosives',
       'Blunt object; Sandbag', 'Handgun; .28 caliber',
       'Rifle; .303 caliber', 'Handgun; .22 caliber',
       'Edged weapon; Machete', 'Rifle; .22 caliber',
       'Handgun; .48 caliber', "Officer's rifle", 'Shotgun; 8 gauge',
       'Shotgun; 16 gauge', 'Handgun; Small caliber',
       'Rifle; .30 caliber', 'Rifle; .32 caliber carbine',
       'Handgun; .25 caliber', 'Automobile', 'Handgun; Luger',
       'Automobile; Motorcycle', 'Automobile; Alcohol involved',
       'Shotgun; 10 gauge', "Officer's weapon", 'Edged weapon; Chisel',
       'Rifle; .30-.30', 'Blunt object; Flashlight',
       'Edged weapon; Shank', 'Handgun; .30 caliber',
       'Handgun; Flare gun', 'Train', 'Handgun; .33 caliber',
       'Rifle; Machine gun', 'Automobile; Bus', 'Edged weapon; Ice pick',
       'Automobile; Commercial', 'Handgun; .380 caliber',
       'Shotgun; 20 gauge', 'Rifle; .25-.35', 'Rifle; Automatic',
       'Handgun; 9 mm', 'Blunt object; Blackjack',
       'Edged weapon; Screwdriver', 'Shotgun; 410 gauge',
       'Rifle; .30-.06', 'Rifle; M-1', 'Handgun; .357 caliber',
       'Rifle; 7.65 mm', 'Rifle; .257 caliber', 'Explosives; Grenade',
       'Rifle; .270 caliber', 'Rifle; .308 caliber', 'Explosives; Mortar',
       'Rifle; Semi-automatic', 'Automobile; Narcotics involved',
       'Rifle; M-16', 'Blunt object; Tire iron', 'Handgun; Derringer',
       'Rifle; .243 caliber', 'Explosives; Dynamite',
       'Explosives; Molotav cocktail', 'Rifle; AK-47',
       'Rifle; .300 caliber', 'Rifle; 45.70', 'Rifle; AR-15',
       'Rifle; .223 caliber', 'Rifle; Mini 14', "Officer's flashlight",
       'Rifle; .222 caliber', 'Handgun; Mac-11', 'Handgun; Mac-10',
       'Explosives; Pipe bomb', 'Toxic chemicals', 'Rifle; .306 caliber',
       'Rifle; 7.62 mm', 'Boat', 'Handgun; Tech-9', 'Rifle; SKS',
       'Rifle; .50 caliber', 'Handgun; .40 caliber', 'Rifle; MK-90',
       'Aircraft; Passenger jet', 'Handgun; .50 caliber',
       'Explosives; Improvised device', 'Handgun; 10 mm'], dtype=object)

In [15]:
df['Weapon'].nunique()

136

In [16]:
df['Binary_Age'] = [1 if el > 50 else 0 for el in df['Age']]

In [17]:
df.head()

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,Binary_Age
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1
2,Deputy Sheriff,Isaac Smith,NaN,1792-05-17,Thursday,Gunfire,"Westchester County Sheriff's Department, New York",New York,NaN,NaN,Handgun,Executed in 1793,Deputy Sheriff Isaac Smith was shot and killed...,0
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ...",0
4,Deputy Sheriff,Robert Berwick,NaN,1797-06-29,Thursday,Gunfire,"New York County Sheriff's Office, New York",New York,NaN,NaN,Handgun,Executed in 1797,Deputy Sheriff Robert Berwick was shot and kil...,0

In [18]:
df.head()

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,Binary_Age
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1
2,Deputy Sheriff,Isaac Smith,NaN,1792-05-17,Thursday,Gunfire,"Westchester County Sheriff's Department, New York",New York,NaN,NaN,Handgun,Executed in 1793,Deputy Sheriff Isaac Smith was shot and killed...,0
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ...",0
4,Deputy Sheriff,Robert Berwick,NaN,1797-06-29,Thursday,Gunfire,"New York County Sheriff's Office, New York",New York,NaN,NaN,Handgun,Executed in 1797,Deputy Sheriff Robert Berwick was shot and kil...,0

In [24]:
df_more_50 = df[df['Age'] > 50]
df_more_50.describe()

               Age  Binary_Age
count  4634.000000      4634.0
mean     58.246871         1.0
std      24.279719         0.0
min      51.000000         1.0
25%      53.000000         1.0
50%      57.000000         1.0
75%      61.000000         1.0
max    1661.000000         1.0

In [25]:
df_less_equal_50 = df[df['Age'] <= 50]
df_less_equal_50.head()

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,Binary_Age
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ...",0
5,Sheriff,Robert Maxwell,45.0,1797-11-12,Sunday,Gunfire,"Washington District Sheriff's Office, South Ca...",South Carolina,NaN,NaN,Gun; Unknown type,Acquitted,Sheriff Robert Maxwell was shot and killed aft...,0
10,Boatman,Ellis Drake,20.0,1808-08-03,Wednesday,Gunfire,United States Department of the Treasury - Uni...,United States,NaN,NaN,Rifle,NaN,Boatman Ellis Drake and Boatman Asa Marsh were...,0
12,Deputy Sheriff,Ebenezer Parker,48.0,1808-01-18,Monday,Assault,"Cumberland County Sheriff's Office, Maine",Maine,NaN,NaN,Blunt object; Lumber,Executed in 1808,Deputy Sheriff Ebenezer Parker succumbed to in...,0
16,Keeper,Thomas Hewlett,46.0,1814-12-02,Friday,Stabbed,"Vermont Department of Corrections, Vermont",Vermont,NaN,NaN,Edged weapon; Knife,Executed in 1818,Keeper Thomas Hewlett succumbed to stab wounds...,0

In [26]:
df.columns

Index(['Rank', 'Name', 'Age', 'End_Of_Watch', 'Day_Of_Week', 'Cause',
       'Department', 'State', 'Tour', 'Badge', 'Weapon', 'Offender', 'Summary',
       'Binary_Age'],
      dtype='object')

In [28]:
new_df = df[['Rank', 'Department', 'State']]
new_df.head()

,Rank,Department,State
0,Constable,"Albany County Constable's Office, New York",New York
1,Sheriff,"Columbia County Sheriff's Office, New York",New York
2,Deputy Sheriff,"Westchester County Sheriff's Department, New York",New York
3,Marshal,United States Department of Justice - United S...,United States
4,Deputy Sheriff,"New York County Sheriff's Office, New York",New York

In [29]:
df['New Column'] = 1 
df.head()

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,Binary_Age,New Column
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0,1
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1,1
2,Deputy Sheriff,Isaac Smith,NaN,1792-05-17,Thursday,Gunfire,"Westchester County Sheriff's Department, New York",New York,NaN,NaN,Handgun,Executed in 1793,Deputy Sheriff Isaac Smith was shot and killed...,0,1
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ...",0,1
4,Deputy Sheriff,Robert Berwick,NaN,1797-06-29,Thursday,Gunfire,"New York County Sheriff's Office, New York",New York,NaN,NaN,Handgun,Executed in 1797,Deputy Sheriff Robert Berwick was shot and kil...,0,1

In [31]:
df['Binary Age'] = [1 if el > 50 else 0 for el in df['Age']]

SyntaxError: invalid syntax (4119257793.py, line 1)

In [34]:
df['Corrected_age'] = df['Age'] - 2

In [35]:
df.head()

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,Binary_Age,New Column,Binary Age,Corrected_age
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0,1,0,NaN
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1,1,1,51.0
2,Deputy Sheriff,Isaac Smith,NaN,1792-05-17,Thursday,Gunfire,"Westchester County Sheriff's Department, New York",New York,NaN,NaN,Handgun,Executed in 1793,Deputy Sheriff Isaac Smith was shot and killed...,0,1,0,NaN
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ...",0,1,0,38.0
4,Deputy Sheriff,Robert Berwick,NaN,1797-06-29,Thursday,Gunfire,"New York County Sheriff's Office, New York",New York,NaN,NaN,Handgun,Executed in 1797,Deputy Sheriff Robert Berwick was shot and kil...,0,1,0,NaN

In [37]:
for group, group_df in df.groupby(['Day_Of_Week']):
    print(group, group_df.shape[0] / df.shape[0])

('Friday',) 0.14596261171603636
('Monday',) 0.13718143855130158
('Saturday',) 0.15618780002341645
('Sunday',) 0.14693829762322913
('Thursday',) 0.14127931936151114
('Tuesday',) 0.137259493423877
('Wednesday',) 0.13519103930062834

In [38]:
df['Day_Of_Week'].value_counts()

Day_Of_Week
Saturday     4002
Sunday       3765
Friday       3740
Thursday     3620
Tuesday      3517
Monday       3515
Wednesday    3464
Name: count, dtype: int64