# Class 1.2. Intermediate Python & AI

# Pandas

### Table of contents 

1. Load dataset
2. DataFrame exploration
3. Operations with Rows & Columns
4. Groupby
5. Apply
6. Lambda

In [2]:
import pandas as pd

## 1. Load dataset

##### Loading a dataset allows us to use it along the notebook with the variable name that we attach to it

In [9]:
df = pd.read_csv('../../datasets/police_deaths_USA_v6.csv')

In [10]:
df.head(4)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...
2,Deputy Sheriff,Isaac Smith,NaN,1792-05-17,Thursday,Gunfire,"Westchester County Sheriff's Department, New York",New York,NaN,NaN,Handgun,Executed in 1793,Deputy Sheriff Isaac Smith was shot and killed...
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ..."

## 2. DataFrame exploration

In [11]:
df.columns

Index(['Rank', 'Name', 'Age', 'End_Of_Watch', 'Day_Of_Week', 'Cause',
       'Department', 'State', 'Tour', 'Badge', 'Weapon', 'Offender',
       'Summary'],
      dtype='object')

In [12]:
df.shape

(25623, 13)

In [13]:
df.index

RangeIndex(start=0, stop=25623, step=1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25623 entries, 0 to 25622
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          25623 non-null  object
 1   Name          25623 non-null  object
 2   Age           22946 non-null  float64
 3   End_Of_Watch  25623 non-null  object
 4   Day_Of_Week   25623 non-null  object
 5   Cause         25622 non-null  object
 6   Department    25623 non-null  object
 7   State         25623 non-null  object
 8   Tour          17417 non-null  object
 9   Badge         7482 non-null   object
 10  Weapon        16263 non-null  object
 11  Offender      13803 non-null  object
 12  Summary       25623 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.5+ MB

In [15]:
df.describe()

                Age
count  22946.000000
mean      40.289419
std       15.799729
min       17.000000
25%       31.000000
50%       39.000000
75%       48.000000
max     1661.000000

## 3. Operations with Rows & Columns

#### What are the main causes of the murder?

In [16]:
df['Cause'].value_counts()

Gunfire                     12869
Automobile crash             2507
Heart attack                 1187
Motorcycle crash             1157
Vehicular assault             976
Struck by vehicle             911
COVID19                       812
Assault                       697
Vehicle pursuit               677
Gunfire (Inadvertent)         660
Stabbed                       481
Aircraft accident             391
9/11 related illness          365
Struck by train               314
Drowned                       282
Duty related illness          255
Fall                          213
Animal related                 91
Accidental                     89
Electrocuted                   88
Terrorist attack               82
Struck by streetcar            76
Fire                           69
Explosion                      66
Bomb                           61
Exposure to toxins             49
Weather/Natural disaster       37
Training accident              30
Train accident                 27
Structure collapse             25
Heatstroke                     24
Hypothermia                    19
Boating accident               16
Bicycle accident               14
Poisoned                        4
Unidentified                    1
Name: Cause, dtype: int64

In [17]:
df['Cause'].unique()

array(['Stabbed', 'Gunfire', 'Duty related illness', 'Assault', 'Fall',
       'Drowned', 'Structure collapse', 'Fire', 'Gunfire (Inadvertent)',
       'Explosion', 'Vehicular assault', 'Animal related', 'Heart attack',
       'Weather/Natural disaster', 'Accidental', 'Hypothermia',
       'Heatstroke', 'Train accident', 'Struck by streetcar',
       'Struck by train', 'Bomb', 'Poisoned', 'Electrocuted',
       'Boating accident', 'Bicycle accident', 'Automobile crash',
       'Struck by vehicle', nan, 'Exposure to toxins', 'Motorcycle crash',
       'Vehicle pursuit', 'Unidentified', 'Training accident',
       'Aircraft accident', 'Terrorist attack', '9/11 related illness',
       'COVID19'], dtype=object)

In [18]:
df['Cause'].nunique()

36

#### How many ranks are in the dataset?

In [19]:
df['Rank'].nunique()

618

#### Which is the most common rank?

In [20]:
df['Rank'].value_counts().head(10)

Patrolman          3841
Police Officer     3514
Deputy Sheriff     3215
Officer            1699
Sergeant           1420
Detective           853
Trooper             842
Sheriff             768
Chief of Police     680
Constable           593
Name: Rank, dtype: int64

#### Which department has the most police deaths?

In [21]:
df['Department'].value_counts().max()

959

#### Separate Dataframes

In [22]:
more_50 = df[df['Age'] > 50]
more_50.head(3)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...
6,Superintendent,Hilary Baker,52.0,1798-09-25,Tuesday,Duty related illness,"Philadelphia Police Department, Pennsylvania",Pennsylvania,"1 year, 4 months",SUPERINTEN,NaN,NaN,Superindentent Hilary Baker died as a result o...
7,High Sheriff,John Caldwell Cook,74.0,1804-10-16,Tuesday,Gunfire,"Mecklenburg County Sheriff's Office, North Car...",North Carolina,10 months,NaN,Gun; Unknown type,NaN,High Sheriff John Cook was shot in the head an...

In [23]:
more_50['Age'].mean(), more_50['Age'].min()

(58.246870953819595, 51.0)

In [24]:
less_50 = df[df['Age'] <= 50]
less_50.head(2)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ..."
5,Sheriff,Robert Maxwell,45.0,1797-11-12,Sunday,Gunfire,"Washington District Sheriff's Office, South Ca...",South Carolina,NaN,NaN,Gun; Unknown type,Acquitted,Sheriff Robert Maxwell was shot and killed aft...

In [25]:
less_50['Age'].median(), less_50['Age'].max()

(35.0, 50.0)

#### Filter Data by selecting a certain number of columns or rows

In [26]:
new_df = df[['Rank', 'Name', 'Age']]
new_df.head()

             Rank                Name   Age
0       Constable       Darius Quimby   NaN
1         Sheriff  Cornelius Hogeboom  53.0
2  Deputy Sheriff         Isaac Smith   NaN
3         Marshal      Robert Forsyth  40.0
4  Deputy Sheriff      Robert Berwick   NaN

In [27]:
new_df = df.iloc[0:10]
new_df.shape

(10, 13)

#### Create new columns through an operation

In [28]:
new_list = []

for el in df['Age'].tolist():
    if el > 50: 
        new_list.append(1)
    else:
        new_list.append(0)

df['Binary age'] = new_list
df.head(2)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,Binary age
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1

In [29]:
df.drop(['Binary age'], axis=1, inplace=True)

In [30]:
df['new_binary_age'] = [1 if el > 50 else 0 for el in df['Age']]
df.head(2)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,new_binary_age
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1

#### There was a mistake when introducing the age of the people. We need to correct them. They ask us to create a new column named corrected_age that contains the original age minus 2. Can you do that?

In [31]:
df['corrected_age'] = df['Age'] - 2
df.head(2)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,new_binary_age,corrected_age
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0,NaN
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1,51.0

#### What is the day of the week where more crimes happen? Could put the number in a percentage?

In [32]:
df['Day_Of_Week'].value_counts()

Saturday     4002
Sunday       3765
Friday       3740
Thursday     3620
Tuesday      3517
Monday       3515
Wednesday    3464
Name: Day_Of_Week, dtype: int64

In [33]:
df['Day_Of_Week'].value_counts() / df.shape[0]

Saturday     0.156188
Sunday       0.146938
Friday       0.145963
Thursday     0.141279
Tuesday      0.137259
Monday       0.137181
Wednesday    0.135191
Name: Day_Of_Week, dtype: float64

## 4. Groupby

In [37]:
gk = df.groupby('Day_Of_Week')
gk.get_group('Saturday').head(2)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,new_binary_age,corrected_age
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1,51.0
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ...",0,38.0

### What is the day of the week when more crimes happen? Can you put the number in percentage?

In [78]:
df['Day_Of_Week'].value_counts()

Saturday     4002
Sunday       3765
Friday       3740
Thursday     3620
Tuesday      3517
Monday       3515
Wednesday    3464
Name: Day_Of_Week, dtype: int64

In [75]:
df.head(1)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,new_binary_age,corrected_age,Age Range,Percentage,Corrected_age_2,Corrected_age_3
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0,NaN,Older than 44,NaN,NaN,NaN

In [83]:
for group_name, group_df in df.groupby('Day_Of_Week'): 
    print(group_name, round(group_df.shape[0] / df.shape[0], 2))

Friday 0.15
Monday 0.14
Saturday 0.16
Sunday 0.15
Thursday 0.14
Tuesday 0.14
Wednesday 0.14

In [86]:
df['Age']

0         NaN
1        53.0
2         NaN
3        40.0
4         NaN
         ...
25618    52.0
25619    48.0
25620    33.0
25621    38.0
25622    32.0
Name: Age, Length: 25623, dtype: float64

In [91]:
def age_ranges(age):
    if age >= 60:
        return 'Older than 60'
    elif age >= 25 and age < 60:
        return 'Older than 25 and lower than 60'
    else:        
        return 'Younger than 25'

In [92]:
df['age_range'] = df['Age'].apply(age_ranges)

In [93]:
df.head()

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,...,Offender,Summary,new_binary_age,corrected_age,Age Range,Percentage,Corrected_age_2,Corrected_age_3,new_col_age,age_range
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,...,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0,NaN,Older than 44,NaN,NaN,NaN,NaN,Younger than 25
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,...,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1,51.0,Older than 44,66.25,51.0,51.0,53.0,Older than 25 and lower than 60
2,Deputy Sheriff,Isaac Smith,NaN,1792-05-17,Thursday,Gunfire,"Westchester County Sheriff's Department, New York",New York,NaN,NaN,...,Executed in 1793,Deputy Sheriff Isaac Smith was shot and killed...,0,NaN,Older than 44,NaN,NaN,NaN,NaN,Younger than 25
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,...,Escaped,"Marshal Robert Forsyth, believed to be one of ...",0,38.0,Older than 24 but younger than 45,50.00,38.0,38.0,40.0,Older than 25 and lower than 60
4,Deputy Sheriff,Robert Berwick,NaN,1797-06-29,Thursday,Gunfire,"New York County Sheriff's Office, New York",New York,NaN,NaN,...,Executed in 1797,Deputy Sheriff Robert Berwick was shot and kil...,0,NaN,Older than 44,NaN,NaN,NaN,NaN,Younger than 25

In [86]:
for group, df_group in df.groupby(['Day_Of_Week']):
    print(group, df_group.shape[0])

Friday 3740
Monday 3515
Saturday 4002
Sunday 3765
Thursday 3620
Tuesday 3517
Wednesday 3464

In [73]:
for group, df_group in df.groupby(['Day_Of_Week']):
    print(group, round(df_group.shape[0] / df.shape[0], 2))

Friday 0.15
Monday 0.14
Saturday 0.16
Sunday 0.15
Thursday 0.14
Tuesday 0.14
Wednesday 0.14

In [88]:
for group, df_group in df.groupby(['Day_Of_Week']):
    print(group, round(df_group['Age'].mean(), 2))

Friday 40.33
Monday 40.32
Saturday 39.89
Sunday 39.79
Thursday 40.36
Tuesday 40.53
Wednesday 40.89

In [89]:
df.columns

Index(['Rank', 'Name', 'Age', 'End_Of_Watch', 'Day_Of_Week', 'Cause',
       'Department', 'State', 'Tour', 'Badge', 'Weapon', 'Offender', 'Summary',
       'new_binary_age', 'corrected_age'],
      dtype='object')

In [90]:
for group, df_group in df.groupby(['new_binary_age']):
    print(group, round(df_group['Age'].mean(), 2))

0 35.75
1 58.25

## 5. Apply

In [38]:
def age_ranges(x):
    if x < 25: 
        return 'Younger than 25'
    elif x >= 25 and x < 45:
        return 'Older than 24 but younger than 45'
    else:   
        return 'Older than 44'

In [39]:
df['Age Range'] = df['Age'].apply(age_ranges)

In [40]:
df.head(2)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,new_binary_age,corrected_age,Age Range
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0,NaN,Older than 44
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1,51.0,Older than 44

In [41]:
df['Age Range'].value_counts()

Older than 24 but younger than 45    13776
Older than 44                        10516
Younger than 25                       1331
Name: Age Range, dtype: int64

In [43]:
import numpy as np

In [50]:
df['Age'].apply(np.sqrt)

0             NaN
1        7.280110
2             NaN
3        6.324555
4             NaN
           ...
25618    7.211103
25619    6.928203
25620    5.744563
25621    6.164414
25622    5.656854
Name: Age, Length: 25623, dtype: float64

## 6. Lambda

In [61]:
df = df.assign(Corrected_age_2 = lambda x: x['Age'] - 2)

In [63]:
df.head(2)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,new_binary_age,corrected_age,Age Range,Percentage,Corrected_age_2,Corrected_age_3
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0,NaN,Older than 44,NaN,NaN,NaN
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1,51.0,Older than 44,66.25,51.0,51.0

In [64]:
df = df.assign(Percentage = lambda x: x['Age'] / 80 * 100)

In [66]:
df.tail(3)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,new_binary_age,corrected_age,Age Range,Percentage,Corrected_age_2,Corrected_age_3
25620,K9 Officer,Ryan Patrick Copeland,33.0,2015-11-23,Monday,Automobile crash,"McFarland Police Department, Wisconsin",Wisconsin,3 years,K8435,NaN,NaN,K9 Officer Ryan Copeland was killed in a vehic...,0,31.0,Older than 24 but younger than 45,41.25,31.0,31.0
25621,K9 Officer,Timothy James Brackeen,38.0,2016-09-12,Monday,Gunfire,"Shelby Police Department, North Carolina",North Carolina,12 years,763,Gun; Unknown type,Sentenced to life,Police Officer Tim Brackeen succumbed to gunsh...,0,36.0,Older than 24 but younger than 45,47.50,36.0,36.0
25622,K9 Officer,Jordan Harris Sheldon,32.0,2019-05-04,Saturday,Gunfire,"Mooresville Police Department, North Carolina",North Carolina,6 years,NaN,Gun; Unknown type,Committed suicide,Police Officer Jordan Sheldon was shot and kil...,0,30.0,Older than 24 but younger than 45,40.00,30.0,30.0

#### Combining previous cases

In [67]:
df.groupby('Day_Of_Week').apply(lambda x: x['Age Range'].value_counts())

Age Range    Older than 24 but younger than 45  Older than 44  Younger than 25
Day_Of_Week
Friday                                    2009           1550              181
Monday                                    1840           1482              193
Saturday                                  2188           1610              204
Sunday                                    2042           1507              216
Thursday                                  1959           1483              178
Tuesday                                   1882           1460              175
Wednesday                                 1856           1424              184

#### How many different ranks are if we group by Day of the week and age range

In [94]:
df.groupby(['Day_Of_Week', 'Age Range']).apply(lambda x: x['Rank'].nunique())

Day_Of_Week  Age Range
Friday       Older than 24 but younger than 45    165
             Older than 44                        186
             Younger than 25                       45
Monday       Older than 24 but younger than 45    143
             Older than 44                        175
             Younger than 25                       46
Saturday     Older than 24 but younger than 45    168
             Older than 44                        157
             Younger than 25                       54
Sunday       Older than 24 but younger than 45    153
             Older than 44                        157
             Younger than 25                       45
Thursday     Older than 24 but younger than 45    163
             Older than 44                        162
             Younger than 25                       41
Tuesday      Older than 24 but younger than 45    164
             Older than 44                        162
             Younger than 25                       34
Wednesday    Older than 24 but younger than 45    159
             Older than 44                        164
             Younger than 25                       42
dtype: int64

In [71]:
pd.DataFrame(df.groupby(['Day_Of_Week', 'Age Range']).apply(lambda x: x['Rank'].nunique())).reset_index().sort_values(0, ascending=False)

   Day_Of_Week                          Age Range    0
1       Friday                      Older than 44  186
4       Monday                      Older than 44  175
6     Saturday  Older than 24 but younger than 45  168
0       Friday  Older than 24 but younger than 45  165
19   Wednesday                      Older than 44  164
15     Tuesday  Older than 24 but younger than 45  164
12    Thursday  Older than 24 but younger than 45  163
16     Tuesday                      Older than 44  162
13    Thursday                      Older than 44  162
18   Wednesday  Older than 24 but younger than 45  159
10      Sunday                      Older than 44  157
7     Saturday                      Older than 44  157
9       Sunday  Older than 24 but younger than 45  153
3       Monday  Older than 24 but younger than 45  143
8     Saturday                    Younger than 25   54
5       Monday                    Younger than 25   46
11      Sunday                    Younger than 25   45
2       Friday                    Younger than 25   45
20   Wednesday                    Younger than 25   42
14    Thursday                    Younger than 25   41
17     Tuesday                    Younger than 25   34