# Class 5. Intermediate Python & AI

# Intro to ML with Python. Linear regression

### Table of contents

1. Preparing data for model
    1. Label Encoding
    2. One Hot encoding
2. Linear regression model

In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('../../datasets/exams_mod_cleaned.csv')

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,id_student,Year,Age
0,male,group A,high school,standard,completed,67,67,63,1000,2022,17.0
1,male,group E,some college,free/reduced,none,59,60,50,1002,2022,17.0
2,male,group B,high school,standard,none,77,78,68,1003,2022,17.0
3,male,group E,associate's degree,standard,completed,78,73,68,1004,2022,17.0
4,female,group D,high school,standard,none,63,77,76,1005,2022,17.0

## 1. Preparing data for model

In [5]:
df.shape

(963, 11)

In [13]:
for col in df.columns:
    print(col, df[col].nunique())

gender 2
race/ethnicity 5
parental level of education 6
lunch 2
test preparation course 2
math score 77
reading score 73
writing score 57
id_student 954
Year 1
Age 1

In [14]:
df.drop(['Year', 'Age', 'id_student'], axis=1, inplace=True)

In [16]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,male,group E,some college,free/reduced,none,59,60,50
2,male,group B,high school,standard,none,77,78,68
3,male,group E,associate's degree,standard,completed,78,73,68
4,female,group D,high school,standard,none,63,77,76

###Â A. Label Encoding

In [54]:
df["parent_ed_cat_encode"] = df["parental level of education"]\
    .astype('category').cat.codes

In [56]:
df[['parental level of education', 'parent_ed_cat_encode']].head()

  parental level of education  parent_ed_cat_encode
0                 high school                     2
1                some college                     4
2                 high school                     2
3          associate's degree                     0
4                 high school                     2

### B. One Hot encoding

In [63]:
pd.get_dummies(df['gender'], columns=['gender']).head()

   female  male
0       0     1
1       0     1
2       0     1
3       0     1
4       1     0

In [60]:
data = pd.get_dummies(
        df, columns=['gender', 'race/ethnicity', 
     'parental level of education', 'lunch', 'test preparation course'], 
drop_first=True)
data.head()

,math score,reading score,writing score,parent_ed_cat_encode,gender_male,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_standard,test preparation course_none
0,67,67,63,2,1,0,0,0,0,0,1,0,0,0,1,0
1,59,60,50,4,1,0,0,0,1,0,0,0,1,0,0,1
2,77,78,68,2,1,1,0,0,0,0,1,0,0,0,1,1
3,78,73,68,0,1,0,0,0,1,0,0,0,0,0,1,0
4,63,77,76,2,0,0,0,1,0,0,1,0,0,0,1,1

In [32]:
def get_training_test(df):
    """
    
    """

    return train_test_split(df, test_size=0.1, random_state=0)

In [33]:
def build_train_test(df):
    """
    
    """

    train, test = get_training_test(df)

    trainY = train['math score'].values
    testY = test['math score'].values
    
    trainX = train.drop(['math score'], axis=1).values
    testX = test.drop(['math score'], axis=1).values

    return trainX, trainY, testX, testY, \
        train.drop(['math score'], axis=1).columns

In [34]:
trainX, trainY, testX, testY, feature_names = build_train_test(data)

In [35]:
dd

array([[ 84, 100,   1, ...,   0,   1,   0],
       [ 56,  65,   1, ...,   0,   1,   1],
       [ 50,  44,   0, ...,   0,   0,   1],
       ...,
       [ 77,  72,   1, ...,   0,   1,   1],
       [ 84, 100,   1, ...,   0,   1,   1],
       [ 43,  41,   1, ...,   0,   0,   1]])

## 2. Linear regression model

In [43]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_absolute_error

In [65]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(trainX, trainY)

# Make predictions using the testing set
y_pred = regr.predict(testX)

# The mean absolute error
print("MAE: %.2f" % mean_absolute_error(testY, y_pred))

MAE: 4.41

In [44]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(trainX, trainY)

# Make predictions using the testing set
y_pred = regr.predict(testX)

# The coefficients
print("Coefficients: \n", regr.coef_)
# The mean squared error
print("Mean squared error: %.2f" % mean_squared_error(testY, y_pred))
# The mean absolute error
print("Mean absolute error: %.2f" % mean_absolute_error(testY, y_pred))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(testY, y_pred))

Coefficients:
 [ 0.51661399  0.31990101 11.60346916 -0.22331577 -0.64778387 -0.41780691
  4.90270954 -0.56951556 -0.02100937 -0.54590945 -1.10842885 -0.95935889
  4.24818723  2.7866446 ]
Mean squared error: 31.33
Mean absolute error: 4.41
Coefficient of determination: 0.86